mixin type({element, tag, text})
    .type
        if element == "h1"
            h1(class="head head__"+element)= tag
            .text.text__title= text
        else if element == "h2"
            h2(class="head head__"+element)= tag
            .text.text__subtitle= text
        else if element == "h3"
            h3(class="head head__"+element)= tag
            .text.text__label= text
        else
            div(class="head head__"+element)= tag
            .text-body!= text



        
