mixin type({tag, title, text})
    .type
        if tag == 'h1'
            .head.head_level_first= title
            .type__descr
                h1.text.text__title!= text
        else if tag == 'h2'
            .head.head_level_second= title
            .type__descr
                h2.text.text__subtitle!= text
        else if tag == 'h3'
            .head.head_level_third= title
            .type__descr
                h3.text.text__label!= text
        else
            .head= title
            .type__descr
                .text.text__body!= text



        
