mixin checkbox({list, checked=false})
    each item in list
        label(class="checkbox")= item.text
            input(class="checkbox__input" type="checkbox" name=item.name checked=item.checked value=item.value)
            span.checkbox__rect
                    