mixin text-field({label, state, placeholder, type, name, focused=false, masked=false})

    - let classes = ['text-field__input']

    if focused
        - classes.push('text-field__input_focused')
    else if masked
        - classes.push('js-masked')

    .text-field
        input(
            class=classes
            type=type,
            name=name,
            placeholder=placeholder
        )